<button class="btn btn-primary" (click)="navigate()">New Product</button>
<table
  class="table row-border hover"
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.payload.title }}</td>
      <td>{{ p.payload.price | currency }}</td>
      <td>
        <a [routerLink]="['/admin/products/new-product/', p.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
